# ASSIGNMENT 4

## QUESTION 1

In [ ]:
""An e-commerce store stores information about its products in a nested dictionary. The outer dictionary uses product IDs as keys, and the inner dictionary stores product details like name, category, price, and stock quantity. products = { 101: {"name": "Laptop", "category": "Electronics", "price": 1200, "stock": 50}, 102: {"name": "Shirt", "category": "Apparel", "price": 25, "stock": 200}, 103: {"name": "Coffee Maker", "category": "Home Appliances", "price": 80, "stock": 30} }

Increase the stock of the "Shirt" product (add 50 more units)

Add a new product (e.g., "Smartphone")""

In [16]:
my_dict={101: {"name": "Laptop", "category": "Electronics", "price": 1200, "stock": 50}, 102: {"name": "Shirt", "category": "Apparel", "price": 25, "stock": 200}, 103: {"name": "Coffee Maker", "category": "Home Appliances", "price": 80, "stock": 30}}

In [17]:
my_dict[102]["stock"]+=50
my_dict[102]["stock"]

250

In [18]:
my_dict[104]={"name": "Smartphone", "category": "Electronics", "price": 1900, "stock": 50}

In [19]:
my_dict

{101: {'name': 'Laptop',
  'category': 'Electronics',
  'price': 1200,
  'stock': 50},
 102: {'name': 'Shirt', 'category': 'Apparel', 'price': 25, 'stock': 250},
 103: {'name': 'Coffee Maker',
  'category': 'Home Appliances',
  'price': 80,
  'stock': 30},
 104: {'name': 'Smartphone',
  'category': 'Electronics',
  'price': 1900,
  'stock': 50}}

## QUESTION 2

In [ ]:
""You are given a list that contains some duplicate items. Remove the duplicates

shopping_list = ["apple", "banana", "apple", "orange", "banana", "grape"]""

In [21]:
shopping_list = ["apple", "banana", "apple", "orange", "banana", "grape"]

In [22]:
shopping_list

['apple', 'banana', 'apple', 'orange', 'banana', 'grape']

In [23]:
new_dict=list (dict.fromkeys(shopping_list))
new_dict

['apple', 'banana', 'orange', 'grape']

## QUESTION 3

In [ ]:
""You are managing a list of students enrolled in two different courses. You need to perform various set operations to understand the student enrollment. Task: Create two sets: one for students in "Course A" and one for students in "Course B". Find the students who are in "Course A" but not in "Course B" (difference). Find students who are only in one of the two courses (symmetric difference). 
 
course_a = {"John", "Alice", "Bob", "David"} 

course_b = {"Alice", "Eve", "Charlie", "David"}

• Find students who are in Course A but not in Course B (difference)

• Find students who are only in one of the two courses (symmetric difference)""

In [24]:
course_a = {"John", "Alice", "Bob", "David"} 

course_b = {"Alice", "Eve", "Charlie", "David"}

In [25]:
z=course_a.difference(course_b)
z

{'Bob', 'John'}

In [26]:
p=course_a.symmetric_difference(course_b)
p

{'Bob', 'Charlie', 'Eve', 'John'}

## QUESTION 4

In [ ]:
""Write a Python program that calculates the sum of all even numbers between 1 and 50 (inclusive) using a for loop.

Hint

- Initialize a variable to hold the sum (e.g., sum_of_evens).
- Use a for loop to iterate through all numbers from 1 to 50.
- Inside the loop, check if the number is even.
- If the number is even, add it to sum_of_evens.
- After the loop finishes, print the total sum of all even numbers between 1 and 50.""

In [27]:
sum_of_evens=0
for i in range(1,51):
    if i%2==0:
        sum_of_evens+=i

print("The sum of even number from 1 to 50 is",sum_of_evens)

The sum of even number from 1 to 50 is 650

## QUESTION 5

In [ ]:
""Power of a Number Write a Python program that takes a number and prints the powers of the number (starting from 1 to 10) using a while loop. For example, if the user inputs 3, the output should be:

3^1 = 3

3^2 = 9

3^3 = 27

... up to 3^10.""

In [28]:
print("Enter the number for which you want to calculate")
n = int(input())
i=1
while(i<11):
   print(f"{n} x {i} = {n * i}")
   i+=1

Enter the number for which you want to calculate

 9

9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

## QUESTION 6

In [ ]:
""Write a Python program that takes an integer input from the user and counts down from that number to 0. The program should display the current number at each step until it reaches 0, at which point it should print a message indicating the countdown is finished""

In [29]:
print("Enter the number for which you want to calculate digits")
n = int(input())
count=0
while(n>0):
   n=n//10
   count+=1




print("The number of digits are", count)

Enter the number for which you want to calculate digits

 56432

The number of digits are 5

## QUESTION 7

In [ ]:
""Write a Python program that takes a number as input from the user and calculates its factorial using a for loop. The program should display the result to the user.""

In [30]:
n = int(input("Enter a number: "))
fact = 1

for i in range(1, n+1):
    fact = fact * i

print("Factorial is", fact)

Enter a number:  5

Factorial is 120

## QUESTION 8

In [ ]:
""Create an empty dictionary called person_info.

Assign the following key-value pairs to the dictionary:

"name": "Alice"

"age": 25

"occupation": "Engineer"

After assigning the values, print the dictionary.""

In [31]:
person_info={}
person_info["name"]="Alice"
person_info["age"]=25
person_info["occupation"]="Engineer"
person_info

{'name': 'Alice', 'age': 25, 'occupation': 'Engineer'}

## QUESTION 9

In [ ]:
""Printing a right-angled triangle pattern (with NESTED while loop)"

In [6]:
i = 1
while i <= 5:
    j = 1
    while j <= i:
        print("*", end="")  
        j += 1
    print()  
    i += 1

*
**
***
****
*****

## QUESTION 10

In [ ]:
""Write a Python program that does the following:

Range: Loop through numbers from 1 to 20 (inclusive).

Continue: If the number is divisible by 4, skip that iteration and move to the next number.

Break: If the number is divisible by 7, stop the loop entirely.

For all other numbers, print the number.""

In [10]:
for i in range(1, 21):
    if i % 4 == 0:
        continue
    elif i % 7 == 0:
        break
    else:
        print(i)

1
2
3
5
6