# ASSIGNMENT 5

## QUESTION 1

In [9]:
def add(a,b):
    print(a+b)

In [10]:
add(1,6)

7

## QUESTION 2

In [13]:
def currency_converter(n,er):
    res=n*er
    print(res)

In [14]:
currency_converter(2,280)

560

## QUESTION 3

In [18]:
def display_student_info(*, name, age, grade, school):
    print("Student Information:")
    print(f"Name   : {name}")
    print(f"Age    : {age}")
    print(f"Grade  : {grade}")
    print(f"School : {school}")

In [19]:
display_student_info(name="Hassan", age=15, grade="10th", school="City High School")

Student Information:
Name   : Ali
Age    : 15
Grade  : 10th
School : City High School

## QUESTION 4

In [20]:
def calculate_price(price, quantity):
    return price * quantity

In [21]:
calculate_price(180,6)

1080

## QUESTION 5

In [22]:
def display_prices(product, **prices):
    print("Product:", product)
    for store in prices:
        print(f"{store}: ${prices[store]}")

In [23]:
display_prices("Laptop", Amazon=800, eBay=750, Walmart=780)

Product: Laptop
Amazon: $800
eBay: $750
Walmart: $780

## QUESTION 6

In [25]:
def find_max(*args):
    return max(args)

In [26]:
find_max(5,67,89,9990)

9990

## QUESTION 7

In [27]:
def display_info(name, age, **details):
    print("- Name:", name)
    print("- Age:", age)
    print("- Other Details:")
    for key in details:
        print(f"  - {key}: {details[key]}")

In [28]:
display_info("Hassan", 30, address="123 Main St", phone="123-456-7890", email="alice@example.com")

- Name: Hassan
- Age: 30
- Other Details:
  - address: 123 Main St
  - phone: 123-456-7890
  - email: alice@example.com

## QUESTION 8

In [29]:
products = [
    {"name": "Laptop", "price": 1200, "in_stock": True, "discount": 0.1},
    {"name": "Smartphone", "price": 800, "in_stock": False, "discount": 0.05},
    {"name": "Headphones", "price": 150, "in_stock": True, "discount": 0.2},
    {"name": "Smartwatch", "price": 300, "in_stock": True, "discount": 0},
    {"name": "Keyboard", "price": 100, "in_stock": True, "discount": 0.15}
]

# In-stock product names
names = [p["name"] for p in products if p["in_stock"]]

# Final prices after discount
prices = []
for p in products:
    if p["in_stock"]:
        price = p["price"] * (1 - p["discount"])
        prices.append((p["name"], price))

# Show results
print("In-stock product names:", names)
print("Discounted prices:", prices)

In-stock product names: ['Laptop', 'Headphones', 'Smartwatch', 'Keyboard']
Discounted prices: [('Laptop', 1080.0), ('Headphones', 120.0), ('Smartwatch', 300), ('Keyboard', 85.0)]

## QUESTION 9

In [30]:
even_numbers = [x for x in range(1, 21) if x % 2 == 0]
print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

## QUESTION 10

In [31]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
divisible_by_3_or_5 = [x for x in numbers if x % 3 == 0 or x % 5 == 0]
print(divisible_by_3_or_5)

[3, 5, 6, 9, 10, 12, 15, 18, 20]